# Load in Libraries and Data

In [63]:
from tbats import TBATS, BATS
import pandas as pd
import numpy as np

import sklearn.metrics

In [25]:
# Load in and wrangle data
caiso_data = pd.read_csv("CAISO_data.csv")
print(caiso_data.shape)
caiso_data.tail()

(838260, 6)

        Unnamed: 0                  timestamp freq market ba_name   load_MW
838255      838255  2022-12-31 13:40:00+00:00   5m   RT5M   CAISO  19404.24
838256      838256  2022-12-31 12:15:00+00:00   5m   RT5M   CAISO  18772.96
838257      838257  2022-12-31 12:30:00+00:00   5m   RT5M   CAISO  18797.62
838258      838258  2022-12-31 10:55:00+00:00   5m   RT5M   CAISO  18811.79
838259      838259  2022-12-31 11:05:00+00:00   5m   RT5M   CAISO  18797.71

# Create Hourly Data and Train Test Split

In [42]:
hourly_data = caiso_data.copy()
hourly_data['date'] = pd.to_datetime(hourly_data['timestamp'].str[:13])
hourly_data = hourly_data.groupby('date').agg({'load_MW': 'max'}).reset_index()
hourly_data

                     date   load_MW
0     2015-01-01 08:00:00  23041.00
1     2015-01-01 09:00:00  21973.00
2     2015-01-01 10:00:00  21294.00
3     2015-01-01 11:00:00  20805.00
4     2015-01-01 12:00:00  20729.00
...                   ...       ...
70105 2023-01-01 03:00:00  25119.44
70106 2023-01-01 04:00:00  24266.00
70107 2023-01-01 05:00:00  23519.53
70108 2023-01-01 06:00:00  22592.39
70109 2023-01-01 07:00:00  21549.70

[70110 rows x 2 columns]

In [80]:
# Hourly Train-Test Split

train_size = int(len(hourly_data) * 0.80)
hourly_train, hourly_test = hourly_data.iloc[:train_size], hourly_data.iloc[train_size:-1]
hourly_test

                     date   load_MW
56088 2021-05-26 23:00:00  27419.48
56089 2021-05-27 00:00:00  28401.25
56090 2021-05-27 01:00:00  29026.08
56091 2021-05-27 02:00:00  29039.17
56092 2021-05-27 03:00:00  29163.87
...                   ...       ...
70104 2023-01-01 02:00:00  26037.40
70105 2023-01-01 03:00:00  25119.44
70106 2023-01-01 04:00:00  24266.00
70107 2023-01-01 05:00:00  23519.53
70108 2023-01-01 06:00:00  22592.39

[14021 rows x 2 columns]

# Create Daily Data and Train Test Split

In [44]:
daily_data = caiso_data.copy()
daily_data['date'] = pd.to_datetime(daily_data['timestamp'].str[:10])
daily_data = daily_data.groupby('date').agg({'load_MW': 'max'}).reset_index().iloc[1:-1,]
daily_data

           date   load_MW
1    2015-01-02  27451.00
2    2015-01-03  29090.00
3    2015-01-04  27641.00
4    2015-01-05  27752.00
5    2015-01-06  29781.00
...         ...       ...
2917 2022-12-27  26139.44
2918 2022-12-28  27667.84
2919 2022-12-29  27422.56
2920 2022-12-30  28035.32
2921 2022-12-31  26783.78

[2921 rows x 2 columns]

In [69]:
# Daily Train-Test Split

train_size = int(len(daily_data) * 0.80)
daily_train, daily_test = daily_data.iloc[:train_size], daily_data.iloc[train_size:-1]
daily_test

           date   load_MW
2337 2021-05-26  29824.30
2338 2021-05-27  29163.87
2339 2021-05-28  29026.54
2340 2021-05-29  28804.58
2341 2021-05-30  26539.40
...         ...       ...
2916 2022-12-26  23856.77
2917 2022-12-27  26139.44
2918 2022-12-28  27667.84
2919 2022-12-29  27422.56
2920 2022-12-30  28035.32

[584 rows x 2 columns]

# Daily TBATS Model Fitting

In [46]:
# need to have a number for the length of each seasonal period for each 

estimator = TBATS(seasonal_periods=(7, 365.25))

In [47]:
model = estimator.fit(daily_train["load_MW"])

/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)
/Users/namanpatel/anaconda3/lib/python3.11/site-packages/tbats/transformation/BoxCox.py:32: RuntimeWarning: overflow encountered in exp
  return np.exp(y)

In [68]:
# Training RMSE
np.sqrt(sklearn.metrics.mean_squared_error(model.y, model.y_hat))

1370.3458240602426

In [64]:
# Training MAPE
sklearn.metrics.mean_absolute_percentage_error(model.y, model.y_hat)

0.02917263156976322

In [73]:
y_forecast = model.forecast(steps=584)
y_forecast

array([30146.2622588 , 30337.03004252, 30292.27081845, 29779.4707431 ,
       28130.34134842, 29188.7882885 , 31275.89442162, 31416.99151345,
       31560.05906416, 31479.36053041, 30938.56097483, 29263.66253588,
       30316.79054267, 32408.24104211, 32547.85423639, 32692.34605976,
       32614.16700448, 32075.21905694, 30397.46946224, 31462.04259913,
       33570.15515125, 33717.034249  , 33868.66521401, 33796.22928815,
       33260.29621633, 31579.13766531, 32653.34476581, 34775.16910226,
       34925.31878233, 35079.27692727, 35007.08661072, 34468.11782098,
       32777.13667958, 33853.90304342, 35981.797279  , 36127.4662118 ,
       36275.71242487, 36195.52822171, 35645.19995174, 33936.27942868,
       35006.52209348, 37130.85443615, 37262.92911438, 37396.25549638,
       37298.89493384, 36728.20584665, 34992.961623  , 36046.87221865,
       38157.21551731, 38266.3467231 , 38375.44508281, 38251.80460896,
       37652.05647873, 35882.76844081, 36910.7695506 , 38996.86753746,
       39074.38821293, 39150.75795893, 38992.70620551, 38356.37510542,
       36546.81224874, 37540.45710053, 39593.15085137, 39631.93029212,
       39668.72106203, 39469.92022068, 38791.44508462, 36937.58969875,
       37890.37795878, 39902.44604586, 39897.62920171, 39890.35702432,
       39646.94416584, 38923.36011433, 37023.95761042, 37931.98276397,
       39898.80648346, 39848.35435643, 39795.40742343, 39506.45316645,
       38737.78942932, 36794.64792842, 37656.99699413, 39576.97241808,
       39481.93264302, 39384.79944272, 39052.48112615, 38241.86578702,
       36259.85403918, 37078.70839615, 38953.35734143, 38817.82548033,
       38681.01115692, 38310.47222383, 37463.92182421, 35450.65089444,
       36231.07528949, 38064.84634921, 37895.61803454, 37726.25498858,
       37325.16287104, 36451.07585909, 34416.2914285 , 35165.73899344,
       36965.52990215, 36771.48435927, 36578.68304614, 36156.53730767,
       35264.94934797, 33219.70048313, 33947.29788457, 35721.76485357,
       35513.05479652, 35307.07379994, 34874.34814508, 33976.03802991,
       31931.71854342, 32647.4212174 , 34406.16382926, 34193.30964771,
       33984.64502533, 33551.86585945, 32657.41818495, 30624.79326583,
       31338.51194696, 33091.23028168, 32884.2242324 , 32682.72362448,
       32259.59121399, 31378.52338199, 29366.85417523, 30087.64930857,
       31843.36283448, 31650.88084387, 31464.97757585, 31059.62352152,
       30199.6701878 , 28216.03235049, 28951.45449924, 30717.85300869,
       30546.65006933, 30382.78929207, 30001.2391167 , 29167.86020579,
       27216.72210685, 27972.34925184, 29755.32068481, 29609.85585556,
       29472.1541374 , 29118.03199127, 28314.17666051, 26397.26458425,
       27176.4581065 , 28979.81334399, 28862.11867633, 28752.26707492,
       28426.74763328, 27652.87302659, 25769.31201365, 26573.18839997,
       28398.58407118, 28308.36439525, 28225.75863348, 27927.74486338,
       27182.06106782, 25328.74816077, 26156.34622652, 28003.39426523,
       27938.3249993 , 27880.38776863, 27606.87505467, 26885.76931757,
       25057.9155998 , 25906.52831974, 27773.07237671, 27729.25019041,
       27691.89916817, 27438.47555385, 26737.05896454, 24928.82840397,
       25794.46066756, 27676.99012782, 27649.48388276, 27627.69212063,
       27389.11846995, 26701.83423999, 24907.00804406, 25784.91374225,
       27679.0739253 , 27662.51846834, 27650.90923316, 27421.71983289,
       26742.95160936, 24955.55269857, 25840.79654423, 27741.94079497,
       27731.11361768, 27724.52963013, 27499.59320548, 26824.21411874,
       25039.0351304 , 25927.01966657, 27830.74050843, 27821.06288525,
       27815.05228361, 27590.03750416, 26913.84730661, 25126.83720528,
       26013.73755153, 27916.31466511, 27904.2270178 , 27895.39755703,
       27667.09786051, 26987.10816141, 25195.58805188, 26078.64827736,
       27977.36268167, 27960.53953579, 27946.74914958, 27713.23943257,
       27027.78578164, 25230.4841005 , 26108.14881255, 28001.43351954,
       27978.82507561, 27959.19919722, 27719.8196087 , 27028.50196514,
       25225.4212532 , 26097.30048868, 27984.72368381, 27956.4352159 ,
       27931.2254513 , 27686.41138747, 26989.88761838, 25182.03631505,
       26048.72626151, 27930.82841716, 27897.87101345, 27868.19144419,
       27619.18952189, 26918.86581666, 25107.90516471, 25970.70700985,
       27848.73359085, 27812.69614082, 27780.1888295 , 27528.71243705,
       26826.38646242, 25014.25152321, 25874.84259303, 27750.42611718,
       27713.12629284, 27679.61408206, 27427.49694636, 26725.01234865,
       24913.56571977, 25773.67966703, 27648.52773403, 27611.69820775,
       27578.88010993, 27327.78191303, 26626.74641066, 24817.51382832,
       25678.68043559, 27554.32053831, 27519.37676543, 27488.61028857,
       27239.81609507, 26541.42153126, 24735.44211357, 25598.82407467,
       27476.44330906, 27444.3630637 , 27416.56101623, 27170.89860101,
       26475.86260852, 24673.66608336, 25540.01240527, 27420.4128942 ,
       27391.738171  , 27367.38766357, 27125.26666319, 26433.89506184,
       24635.59724503, 25505.31330686, 27388.98467094, 27363.93640878,
       27343.22775491, 27104.78474924, 26417.13433549, 24622.62339277,
       25495.93872269, 27383.22966916, 27361.90762905, 27344.94320628,
       27110.25989874, 26426.3653721 , 24635.53740644, 25512.73621657,
       27404.09064966, 27386.71695245, 27373.75703166, 27143.10676191,
       26463.22515723, 24676.22011381, 25557.88865988, 27454.09991176,
       27441.25704749, 27432.9528914 , 27207.02541371, 26531.84799275,
       24749.23676195, 25636.47733112, 27538.90903038, 27531.72279849,
       27529.28806734, 27309.34477134, 26640.13051734, 24863.01159248,
       25757.57622724, 27668.30096386, 27668.52605918, 27673.80585005,
       27461.72726809, 26800.32350542, 25030.30169566, 25934.60932781,
       27856.42641245, 27866.4062939 , 27881.81785716, 27680.02103575,
       27028.75360976, 25267.79198713, 26184.80890745, 28121.11866539,
       28143.60978681, 28171.94781738, 27983.17044459, 27344.60561954,
       25594.76195044, 26527.74494408, 28482.27674315, 28520.1472498 ,
       28564.26664517, 28391.23463247, 27767.8341831 , 26030.91107636,
       26983.03227918, 28959.44423333, 29015.27583486, 29077.68300679,
       28922.69562913, 28316.40266446, 26593.55373297, 27567.44390457,
       29568.83161323, 29644.4682441 , 29726.8663254 , 29591.34605621,
       29003.15019277, 27294.49139594, 28291.75227152, 30320.12026271,
       30416.21715329, 30519.05972787, 30403.12178587, 29832.657988  ,
       28136.93448557, 29157.68023068, 31213.44142666, 31329.07304057,
       31451.18512728, 31353.28448317, 30798.5206386 , 29112.87646089,
       30155.36815281, 32236.94193654, 32369.32677689, 32507.65056959,
       32424.36173339, 31881.42613608, 30201.31794059, 31261.75219197,
       33365.32854276, 33509.72253232, 33659.23819628, 33585.21491451,
       33048.40579545, 31367.69275074, 32440.1946261 , 34559.71871491,
       34709.51572947, 34863.37338157, 34791.52043404, 34253.5244772 ,
       32564.7525062 , 33641.60300504, 35769.01142604, 35916.06902248,
       36065.94644945, 35987.81366946, 35440.13857883, 33735.01758941,
       34807.11818359, 36932.82671931, 37068.00807572, 37204.68098258,
       37111.06176738, 36544.66067267, 34814.70856757, 35872.25284361,
       37985.86063498, 38099.75325821, 38213.83424089, 38095.52065987,
       37501.556946  , 35738.85722871, 36772.14768408, 38863.28963868,
       38947.03233901, 39029.80636433, 38878.42561184, 38249.1007476 ,
       36447.09646697, 37447.41871469, 39506.672795  , 39552.80029434,
       39597.06374534, 39405.90157175, 38735.25111061, 36889.48222353,
       37849.93435379, 39869.67775767, 39872.88186679, 39873.68374063,
       39638.3940128 , 38922.95239551, 37031.64071603, 37947.81560221,
       39922.92641752, 39880.636853  , 39835.82700186, 39554.93492436,
       38794.18003676, 36858.57778163, 37729.01144948, 39657.33021266,
       39570.03710204, 39480.54737057, 39155.67669699, 38352.18961079,
       36376.63333079, 37202.96121644, 39085.45742287, 38956.72896619,
       38826.54594241, 38462.33465733, 37621.64528784, 35613.29323665,
       36400.09397465, 38240.72126897, 38076.90922848, 37912.73716291,
       37516.44647595, 36646.57670541, 34614.84902577, 35369.19641191,
       37174.46076688, 36984.12732466, 36794.78034105, 36375.64206755,
       35486.39780451, 33442.17887909, 34172.96025437, 35951.26132804,
       35744.39685178, 35539.99437044, 35108.37542934, 34210.47171186,
       32165.16628053, 32882.25365667, 34643.08484412, 34430.21142366,
       34221.27413068, 33787.75853907, 32891.8818657 , 30856.43579613,
       31569.81009111, 33322.91365118, 33114.17991179, 32910.73197162,
       32485.22697827, 31601.14338583, 29585.14303465, 30304.06995037,
       32058.63903741, 31863.00638506, 31673.78202917, 31264.7453543 ,
       30400.55099648, 28411.50129193, 29143.84106868, 30907.84303796,
       30732.44397158, 30564.2753779 , 30178.13750302, 29339.72335831,
       27382.57647389, 28134.2836208 , 29913.954134  , 29763.67430867,
       29621.1079045 , 29261.93229685, 28452.70159844, 26529.67067628,
       27304.51049898, 29104.04261443, 28981.34646908, 28866.50306074,
       28535.89483488, 27756.73774472, 25867.39090273, 26666.87377374,
       28488.3059395 , 28393.29720415, 28305.96373384, 28003.20956858,
       27252.7107778 , 25394.30709871, 26217.82278681, 28061.11627293,
       27991.80345619, 27929.72414745, 27652.12658842, 26926.96149899,
       25094.96810792, 25940.09083714, 27803.37819223, 27756.10163475,
       27715.4237403 , 27458.78112709, 26754.24506529, 24942.96402422,
       25805.89092045, 27685.86807153, 27655.83707648, 27631.65891248,
       27390.83556541, 26701.44559247, 24904.67871038, 25780.75651168,
       27673.17942447, 27655.06276414, 27642.02678601, 27411.55439233,
       26731.66207264, 24943.34693741, 25827.63369408, 27727.86744332,
       27716.37748056, 27709.24847063, 27483.89846758, 26808.25362425,
       25023.01250898, 25910.8151986 , 27814.37358558, 27804.78491665,
       27798.95473971, 27574.22459447, 26898.43581468, 25111.99019712,
       25999.3197781 , 27902.33235006, 27890.88271294, 27882.75095184,
       27655.21671362, 26976.06587811, 25185.48408444, 26069.37917206,
       27968.93217211, 27953.06768046, 27940.26281524, 27707.76687312])

In [74]:
daily_test["load_MW"]

2337    29824.30
2338    29163.87
2339    29026.54
2340    28804.58
2341    26539.40
          ...
2916    23856.77
2917    26139.44
2918    27667.84
2919    27422.56
2920    28035.32
Name: load_MW, Length: 584, dtype: float64

In [78]:
# Test RMSE
np.sqrt(sklearn.metrics.mean_squared_error(y_forecast, daily_test["load_MW"]))

2786.4678033601745

In [79]:
# Test MAPE
sklearn.metrics.mean_absolute_percentage_error(y_forecast, daily_test["load_MW"])

0.05953407899944143